{% extends 'layout.html' %}

{% block title %}
  Change Password
{% endblock %}

{% block main %}
  <!-- Output to user -->
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <!-- Input from user -->
  <form action='/repassword' method='POST'>
    <div class='form-group'>
      <input class='form-control' name='password_old' placeholder='Old Password' type='password' autocomplete='off' autofocus>
    </div>
    
    <div class='form-group'>
      <input class='form-control' name='password_new' placeholder='New Password' type='password' autocomplete='off'>
    </div>
    
    <div class='form-group'>
      <input class='form-control' name='confirmation' placeholder='New Password (again)' type='password' autocomplete='off'>
    </div>
    
    <button class='btn btn-primary' type='submit'>Change</button>
  </form>
  <p><br>Password must be at least 6 characters, upper and lower case (or numbers).</p>
{% endblock %}
